<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

    <th:block th:fragment="content">

        <div class="container">
            <form th:action="@{/account/register}" class="form-signin" method="post">
                <div class="text-center mb-4">
                    <img class="mb-4" src="/img/log.png" alt="" width="144" height="144">
                    <h1 class="h3 mb-3 font-weight-normal">로 그 인</h1>
                </div>

                <!-- 로그인 실패시 경고창 -->
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-primary" role="alert">
                    You have been logged out.
                </div>


                <div class="form-label-group">
                    <label for="email">아이디</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="아이디 입력"
                           required autofocus>
                </div>

                <div class="form-label-group">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password" class="form-control"
                           placeholder="비밀번호 입력" required>
                </div>

                <div class="form-label-group">
                    <label for="nickName">닉네임</label>
                    <input type="text" id="nickName" name="nickName" class="form-control"
                           placeholder="닉네임 입력" required>
                </div>

                <input type="hidden" name="fromSocial" value="false">

                <div class="container-fluid text-center my-3">
                    <button class="btn btn-primary" type="submit">회원가입</button>
                    <p class="mt-5 mb-3 text-muted text-center">&copy; 2021</p>
                </div>
            </form>
        </div>
        <hr>

        <script th:inline="javascript">

        </script>
    </th:block>
</th:block>